@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Climate+Crisis & family= PT+Serif:ital,wght@1,700 & family= Ysabeau:wght@100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=PT+Serif:ital,wght@1,700&family=Ysabeau:ital,wght@0,100;1,100&display=swap');

//COLORES

$color1 :whitesmoke;
$color2: black;
$color3: #252121;
$color4: #333;
$color5: #faddf6;


// FONT

$font1:'Ysabeau',
sans-serif;

// Variables
$color1: #fbc2eb;
$color2: #a6c1ee;
$color3: #333;
$font1: "Helvetica",
sans-serif;

// Mixins
@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    font-family: serif;
    margin: 0;

    .header {
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        height: 80vh;
        display: flex;
        flex-direction: column;

        nav {
            background-color: $color1;
            height: 10vh;
            width: 100%;
            display: grid;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            @include box-shadow(0px, 5px, 16px, -3px, rgba(0, 0, 0, 0.75));

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    padding: 0 3%;
                    margin-right: 5%;

                    a {
                        color: $color3;
                        text-decoration: none;
                        font-size: 1.2rem;
                        font-weight: bold;
                        transition: all 0.3s ease;
                        padding: 10px;
                        border-radius: 50px;

                        &:hover {
                            background-color: #faddf6;
                            color: #333;
                        }
                    }
                }
            }

            @media only screen and (max-width: 600px) {
                ul {
                    li {
                        margin-right: 3%;

                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }

            @media only screen and (max-width: 400px) {
                ul {
                    li {
                        margin-right: 1%;

                        a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        h1 {
            font-family: $font1;
            font-size: 4rem;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 3%;

            @media only screen and (max-width: 600px) {
                font-size: 3rem;
                margin-top: 10%;
            }

            @media only screen and (max-width: 400px) {
                font-size: 2rem;
                margin-top: 15%;
            }
        }

        p {
            font-size: 1.5rem;
            text-align: center;
            margin: 0 auto;
            width: 80%;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;
                margin-top: 5%;
                width: 90%;
            }
        }

    }

    main {
        margin: 0;

        section {
            padding: 3rem;
            font-size: 1.25rem;
            justify-content: center;

            @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 6rem;
            }
        }

        .section-one {
            width: 100%;
            height: auto;
            background-color: #ecd5e6;
            margin: 0;

            h2 {
                margin: 2rem 0;
                font-size: 3.75rem;
                padding: 1rem;
                font-family: $font1;
            }

            p {
                align-items: center;
                font-size: 1.25rem;
                margin-bottom: 2rem;
            }
        }

        .section-2 {
            width: 100%;
            height: auto;
            background-color: #e787cf;
            margin: 0;

            h2 {
                margin: 2rem 0;
                font-size: 3.75rem;
                padding: 1rem;
                font-family: $font1;
            }

            ul {
                padding: 1.5rem;
                align-items: center;
                list-style-position: inside;

                li {
                    padding: 0.5rem 0;
                    font-size: 1.25rem;
                }
            }
        }
    }


    .blog-titles {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin: 0;



        #blog {
            background-color: #ecd5e6;
            padding: 50px;


            h2 {
                font-size: 57px;
                text-align: center;
                margin-bottom: 30px;
                font-family: $font1;
            }

            .post {
                margin-bottom: 40px;

                img {
                    max-width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: #252121;
                }

                p.date {
                    font-size: 14px;
                    color: $color2;
                    margin-bottom: 10px;
                }

                p.excerpt {
                    display: grid;
                    font-size: 18px;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
            }
        }
    }

    aside {
        padding: 30px;
        text-align: center;
        background-color: #b69bb4;
        border: solid $color3;


        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        a.btn {
            display: inline-block;
            background-color: #d64dc4;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #af52cc;
            }
        }
    }

    footer {
        margin-bottom: 0;
        bottom: 0;
        width: 100%;
        background-color: #412c3c;
        color: #fff;
        padding: 5px;
        text-align: center;

        p {
            font-size: 1.1rem;
            margin-bottom: 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.7;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}


@import "_NuestroServicios.scss"

/* CLASES.HTML SCSS*/